.changeColor {
    animation: changeColor 4s ease-in alternate-reverse infinite;
}
@keyframes changeColor {
    0% {
        color: rgb(18, 224, 94);
    }
    100% {
        color: #fc881b;
    }
}

@media (min-width: 1024px) {
    .card1 {
        animation: card1 1.2s ease-in alternate-reverse 1.15s infinite;
    }
    .card2 {
        animation: card2 1.4s ease-in alternate-reverse 1.55s infinite;
    }
    .card3 {
        animation: card3 1s ease-in alternate-reverse 1.33s infinite;
    }
}

@keyframes card1 {
    0% {
        transform: translateX(-10%) translateY(-4%);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}

@keyframes card2 {
    0% {
        transform: translateX(-4%) translateY(-8%);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}

@keyframes card3 {
    0% {
        transform: translateX(-7%);
    }
    100% {
        transform: translateX(0);
    }
}
