@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-margin: 200px;
}

body {
    font-family: Signika, sans-serif;
    background: rgb(244, 247, 255);
    background: linear-gradient(
        360deg,
        #f4f7ff 0%,
        #f4ffff 100%
    );
}

@media (max-width: 1024px){
    .order{
        order: 0 !important;
    }
}

.navTextColor {
    color: rgb(22, 22, 22);
}

/* Costomize scroll bar */
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #dddddd;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(63, 226, 163);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(40, 189, 119);
}
/* ----------------------- */
