@tailwind base;
@tailwind components;
@tailwind utilities;

#descriptionHtml div,
#descriptionHtml p {
    @apply mb-6;
}

#descriptionHtml a {
    @apply text-emerald-700 underline font-medium;
}

:root {
    --first-color: black;
    --second-color: rgb(251, 251, 251);
    --burger-color: #2d3d4b;
}

html {
    scroll-padding-top: 50px;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #f8f8f8;
}

.first-color {
    color: var(--first-color);
}
.second-color {
    color: var(--second-color);
}
.burgerColor {
    background-color: var(--burger-color);
}
.orange-btn {
    padding: 0.6rem 0.93rem;
    background-color: #f57c03;
    box-shadow: 0 10px 15px -3px #e06a37, 0 4px 6px -4px #e06a37;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    border-radius: 0.375rem;
    color: white;
    text-transform: capitalize;
    transition-property: all;
    transition-duration: 150ms;
}
.orange-btn:hover {
    color: whitesmoke;
    background-color: #9edb1a;
    box-shadow: 0 10px 15px -3px #fff6a6, 0 4px 6px -4px #ffe7a6;
}

.titleSection {
    color: #333c51;
}

.linkFooter {
    color: #828996;
    font-size: 14px;
}

.hover-link:hover {
    color: #e4b827;
}
