@tailwind base;
@tailwind components;
@tailwind utilities;

#descHtml span,
#descHtml div,
#descHtml p {
    font-size: 19px !important;
}
#descHtml li {
    margin-left: 30px;
    list-style: disc;
}
#descHtml div,
#descHtml p,
#descHtml img {
    margin: 1.5rem 0;
}
#descHtml h2,
#descHtml h2 strong {
    margin: 4.3rem 0 1.4rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: #0a1265;
}

#descHtml a {
    @apply text-blue-700 underline font-medium;
}

:root {
    --body-bg-color: white;
    --first-color: black;
    --second-color: rgb(251, 251, 251);
    --burger-color: #2d3d4b;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--body-bg-color);
}
.fill-body-bg-color {
    fill: var(--body-bg-color);
}

.first-color {
    color: var(--first-color);
}
.second-color {
    color: var(--second-color);
}
.burgerColor {
    background-color: var(--burger-color);
}

.titleSection {
    color: #333c51;
}

.linkFooter {
    color: #828996;
    font-size: 14px;
}

.hover-link:hover {
    color: #e4b827;
}
