@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-padding-top: 50px;
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Pacifico Regular"), local("Pacifico-Regular"),
        url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
            format("woff2");
    font-display: swap;
}

body {
    background-color: #f8f8f8;
}

.titleSection {
    color: #333c51;
}

.btn {
    @apply inline-block px-7 py-3 bgLogoColor text-white font-medium text-sm leading-snug uppercase rounded bg-gradient-to-tr from-gray-900 to-gray-700 shadow-gray-900 hover:bg-gray-800 hover:shadow-lg focus:bg-gray-800 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-900 active:shadow-lg transition duration-200 ease-in-out;
}
.btnEmerald {
    @apply inline-block px-7 py-3 bgLogoColor text-white font-medium text-sm leading-snug uppercase rounded bg-gradient-to-tr from-emerald-800 to-emerald-600 shadow-emerald-800 hover:bg-gray-800 hover:shadow-lg focus:bg-gray-800 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-900 active:shadow-lg transition duration-150 ease-in-out;
}
.btnRed {
    @apply inline-block px-5 py-2 bgLogoColor text-white font-medium text-sm leading-snug uppercase rounded bg-gradient-to-tr from-red-800 to-red-500 hover:bg-gray-800 hover:shadow-lg focus:bg-gray-800 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-900 active:shadow-lg transition-all duration-200 ease-in-out;
}
.btnOrange {
    @apply inline-block px-7 py-3 bgLogoColor text-white font-medium text-sm leading-snug uppercase rounded bg-gradient-to-tr from-amber-600 to-amber-300 shadow-amber-600 hover:bg-gray-800 hover:shadow-lg focus:bg-gray-800 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-900 active:shadow-lg transition-all duration-200 ease-in-out;
}
.btnBlue {
    @apply inline-block px-7 py-3 bgLogoColor text-white font-medium text-sm leading-snug uppercase rounded bg-gradient-to-tr from-blue-600 to-blue-400 shadow-blue-600 hover:bg-gray-800 hover:shadow-lg focus:bg-gray-800 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-900 active:shadow-lg transition-all duration-200 ease-in-out;
}

.linkColor {
    color: #357b0a;
}

.link {
    font-size: 14px;
    color: rgb(243, 244, 246);
}
.linkFooter {
    color: #828996;
    font-size: 14px;
}

.hoverLink:hover {
    color: #e4b827;
}
.bgLogoColor {
    background-color: #2d3d4b;
}
