#nprogress {
    overflow: hidden;
    z-index: 10000;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: #0C0904;
    color: #caa500;
  }
  
  #nprogress .bar {
    background: #caa500;
  }
  
  #nprogress .spinner-icon {
    border-top-color: #caa500;
    border-left-color: #caa500;
  }